<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Mindbox.Data.Linq" version="1.0.5990.30408" targetFramework="net452" />
  <package id="Mindbox.Expressions" version="2.0.5420.33605" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net452" />
</packages>