<div class="jumbotron">
    <h1>ID Application RESTful API</h1>
    <p class="lead">ASP.NET Web API for managing ID applications</p>
    <p><a href="http://localhost:21855/Help" class="btn btn-primary btn-lg">Endpoints &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Go to API link at the top of the site to see available endpoints</p>
        <p><a class="btn btn-default" href="http://localhost:21855/Help">API endpoints &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Write client-side applications for this API</h2>
        <p>Write client-side applications for this service: Mobile apps, Desktop applications or a Website and so on.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
